@model IEnumerable<ShopTARge24.Models.Kindergartens.KindergartenIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a id="createIndex" asp-action="create" asp-controller="Kindergartens" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
	Kindergarten
</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nr</th>
				<th id="kindergartenName" scope="col">Kindergarten Name</th>
				<th id="groupName" scope="col">Group Name</th>
				<th id="groupCreated" scope="col">Group Creation Date</th>
				<th id="teacherName" scope="col">Teacher Name</th>
				<th id="childrenCount" scope="col">Children Count</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var kindergarten in Model)
			{
				<tr>
					<td>@rowNumber</td>
					<td>@kindergarten.KindergartenName</td>
					<td>@kindergarten.GroupName</td>
					<td>@kindergarten.CreatedAt</td>
					<td>@kindergarten.TeacherName</td>
					<td>@kindergarten.ChildrenCount</td>
					<td>
						<a asp-action="details" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-primary">Details</a>
						<a asp-action="update" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-primary">Update</a>
						<a asp-action="delete" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger">Delete</a>
					</td>
				</tr>
				rowNumber += 1;
			}
		</tbody>
	</table>
</form>